/* Estilo para el cuerpo y el header */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;

}

header {
    position: relative;
}

/* Menú de navegación */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Banner */
.banner {
    position: relative;
    width: 100%;
    height: auto;
}

.banner-img {
    width: 100%;
    height: auto;
}

/* Texto superpuesto al banner */
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.p1 {
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(225, 225, 225);
    padding: 15px;
}

/* Desarrollo web */

tr {
    background-color: rgb(236, 236, 236);
}

td {
    vertical-align: text-top;
    background-color: rgb(255, 255, 255);
}

.p2 {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(137, 137, 137);
    padding: 10px;

}

.tabla2 table {
    width: 100%;
    border-collapse: collapse;
    /* Colapsa bordes para un diseño más limpio */
}

.tabla2 td {
    margin-bottom: 0px;
    /* Espacio debajo de cada celda */
    padding: 10px;
    background-color: rgba(154, 154, 154, 0.55);
    border: 20px solid #ffffff;

}

.tabla2 tr {
    margin-bottom: 90px;
    /* Espacio entre filas */
}